* {
    box-sizing: border-box ;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

body {
    background-color: #333841;
    padding: 10px;
}

/* background color using a CSS linear-gradient function; clean and reusable values for a color scheme */
h1 {
    text-align: center;
    font-size: 150px;
    background: -webkit-linear-gradient(rgb(226, 5, 5), rgb(247, 231, 13));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 3px;
        word-break: break-word;    
}

/* use of semantic HTML elements and proper indentation; */
header p {
    text-align: center;
    color: white;   
    font-size: 50px;
}


header figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header figure img {
    width: 160px;
    display: inline-block;

}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.column {
    width: 33%;
    padding: 10px;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;

}

.card-colum {
    flex:  1 0 100%;
}

/* animation using the CSS transition property */
.card h2 {
    border: 2px white solid;
    color: white;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 30px;
    background-color: #333841;
    width: 75%;
    margin: 0 auto;
    padding: 3px 10px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    display: inline-table;
    word-break: break-word;
}

.card:hover article, .card:hover h2 {
    box-shadow: inset 0px 0px 8px rgb(226, 9, 9), 0 0 15px rgb(243, 207, 4);
}

/* background color using a CSS linear-gradient function */
.card article {
    border-style: dashed;
    border-color: white;
    background-image: linear-gradient(
        rgba(245, 34, 7, 0.712) 0%, 
        rgb(241, 226, 4) 100%
        );           
    padding: 30px 15px 15px 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.card a {
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
    height: 50%;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    
}

.card img {
    max-height: 50%;
    width: 100%;
    max-width: 100%; 

}

.card h3 {
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
    height: 50%;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    word-break: break-word;

}

/* highlight a code snippet by clicking on it */
.card h3::selection {
    background: black;
}

h3 {
    text-align: center;
    color:white;
    font-size: 40px;
}

/* flexbox and media queries created a responsive grid layout */
@media screen and (max-width: 992px) {

    .column {
        width: 50%;
    }
}

  @media screen and (max-width: 768px) {

      .column {
        width:100%;
    }
    }
